.home {
   
    background-image: url("../assets/backgroundImage.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover;
    min-height: 100vh;
  }
  .home main {
    backdrop-filter: blur(2px);
  }
.dark .home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/backgroundImage.png");
  }
  
  .dark .home main {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
 